/** Inico Geral*/

:root {
    --var1: #C21E4B;
    --var2: #000000;
    --var3: #C0C0C0;
    --var4: #FFFFFF;
    --var5: #fffb00;
}

body {
    background: url(/assets/IMG/Back/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--var2);
    font-family: Ace;
}

@font-face {
    font-family: Ace;
    src: url(/assets/Fonts/ACES07_Regular.otf);
}

p {
    font-size: 1.1em;
}
/** Fim Geral*/

/*! Inicio do Menu*/

.menu-nav img {
    width: 1900px;
    height: 300px;
    margin: 0;
}

.menu-nav ul li { 
    display: inline;
}
.menu-nav ul li a { 
    display: inline-block;
    justify-content: center;
    padding: 10px 160px; 
    margin-left: 0.65em;
    background-color: var(--var4); 
    color: #333333; 
    font-size: 120%;
    text-decoration: none; 
    border-bottom:3px solid var(--var1); 
}
.menu-nav ul li a:hover { 
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
    font-size: 150%;
}

/*! Fim do Menu*/

/*TODO Inicio da Pagina Principal*/

/** Inicio Introducao*/

.principal_imgs{
    width: 1800px;
    margin-left: 2.5em;
}

.introducao h1{
    display: flex;
    justify-content: center;
}

.introducao p{
    padding: 5px;
    margin: 5px;
    margin-left: 2em;
}

.introducao_fim_img{
    width: 1800px;
    height: 400px;
    margin-left: 2.5em;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/** Fim Introducao */

/** Inico Introducao Inter Main Pag*/

.introducao_inter_main_pag h1{
    display: flex;
    justify-content: center;
}

.introducao_inter_main_pag p{
    padding: 5px;
    margin: 5px;
    margin-left: 2em;
}

/** Fim Introducao Inter Main Pag*/

/** Inicio Conteudos*/

.conteudos{
    display: flex;
    justify-content: center;
}

.conteudo_ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 10px;
    gap: 3em;
}

.conteudo_ul_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px;
    background-color: var(--var3);
    border-color: var(--var1);
    border-style: solid;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}

a.conteudo_ul_link:link, a.conteudo_ul_link:visited, a.conteudo_ul_link:active {
    text-decoration: none;
    color: var(--var2);
}

a.conteudo_ul_link:hover {
    color: var(--var5);
    scale: 1.1;
}

.conteudo_img {
    width: 250px;
    height: 250px;
}

.conteudos p {
    text-align: left;
}

/** FIm Conteudos*/

/*TODO Fim da Pagina Principal*/

/*? Inicio da Pag Navegação */

.parte_sup_da_apre {
    padding: 5px;
    margin: 5px;
}

.conteudos_box {
    display: inline-flex;
}

.ul_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 10px;
    gap: 3em;
}

.box_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 5px;
    background-color: var(--var3);
    border-color: var(--var1);
    border-style: solid;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}

a.link_box:link, a.link_box:visited, a.link_box:active {
    text-decoration: none;
    color: var(--var2);
}

a.link_box:hover {
    color: var(--var5);
    scale: 1.1;
}

.box_img {
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.text_box {
    font-size: 1.3em;
}

/*? Fim da Pag Navegação */